<app-header></app-header>
<!-- <mat-sidenav-container class="example-container" >
  <mat-sidenav opened mode="side" *ngIf="isAuthenticated">
    <ul>
      <li *ngIf="isAuthenticated"> <a mat-button routerLink="api/posts" routerLinkActive="mat-accent">Add post</a></li>
      <li *ngIf="isAuthenticated"> <a mat-button routerLink="api/posts" routerLinkActive="mat-accent">Add post</a></li>
      <li *ngIf="isAuthenticated"> <a mat-button routerLink="api/posts" routerLinkActive="mat-accent">Add post</a></li>

    </ul>
  </mat-sidenav> -->
 <main><router-outlet></router-outlet></main>
  
<!-- </mat-sidenav-container> -->
