<mat-spinner *ngIf="inProgress"></mat-spinner>
<div [ngStyle]="{background: 'url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkktvWaZyRKPwZOXa_R0jDwiy0NDJSg72xmhdMigIda40ynj5C2w&s)'}">
  <div class="posts" *ngIf="posts.length > 0 ">
  <div class="one-post" *ngFor="let post of posts">
    <div class="title">
    <strong>{{ post.title }}</strong>
    </div>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>    
    <div>{{ post.content }}</div>
 
    <mat-action-row *ngIf="isAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </div>
</div>

<div class="movies" *ngIf="movieArray.length > 0 ">
  <div class="one-movie" *ngFor="let movie of movieArray">
    <div class="title">
      <strong>{{ movie.original_title }}</strong>
    </div>
    <div class="post-image">
    <img [src]="imageUrl+movie.poster_path" alt="movie.original_title">
     </div>    
    <div>{{ movie.overview }}</div>
  </div>
</div>
</div>



