.one-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  align-items: center;
  width: 50%;
  margin: 10px;
}
.one-post>div{
  margin:10px 10px 10px 10px;
}
.one-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  align-items: center;
  width: 50%;
  margin: 10px;
}
.one-movie>div{
  margin:10px 10px 10px 10px;
}


.movies{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.title{
     color: brown;
  text-shadow: burlywood;
  text-emphasis: empha;

}
  mat-spinner {
    margin: auto;
  }
  
  mat-paginator {
    margin-top: 1rem;
  }
  
  
  .post-image {
    width: 80%;
    text-align: center;
  }
  
  
  .post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
  }

