mat-form-field,
textarea {
  width: 100%;
  align-content: center;
 
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}


mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  background-image: ('/../../assets/img/netflix.jpg');
  margin: 5px;
  opacity: 70%;
 }


mat-card {
display: flex;
background-color: gainsboro;
justify-content: center;
align-items: flex-end;
height: 350px;
}

button{
width: 100%;
}


h1{
  text-align: center;
}