<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body >
<div class="flex-container" [ngStyle]="{background: 'url(https://coolbackgrounds.io/images/unsplash/anders-jilden-medium-5d01610e.jpg)'}">
<mat-card>
  <form (submit)="onSignIn(signinForm)" #signinForm="ngForm" >
    <h1> Sign In
    </h1>
    <mat-form-field>
     <input matInput name="email" ngModel type="email" #emailInput="ngModel"  placeholder="*Email" required minlength="4">
    <mat-error *ngIf="emailInput.invalid">Please enter a valid and unique Email.</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input matInput name="password" ngModel type="password" placeholder="*Password" #password="ngModel" required minlength="6" >
    <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
  </mat-form-field>
    <button mat-raised-button color="accent" type="submit">SignIn</button>
  </form>
</mat-card>
</div>
</body>
</html>